@import url('reset.css');

* {
    color: white;
}

body {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: white
}
.content {
    position: absolute;
    bottom: 150px;
    left: 150px;
}
.nav{
    position: fixed;
    top: 150px;
    right: 150px;
}