<script context="module">
    export async function load({ fetch }) {
        const url = 'https://reqres.in/api/users' 
        const res = await fetch(url);

        if(res.ok){
            return {
                props: {
                    users: await res.json()
                }
            }
        }
    }
</script>
<script>
    export let users;
</script>

<h1>Blog page</h1>

{#each users.data as user}
    <li><a rel="prefetch" href="blog/{user.id}" >
    {user.first_name} - {user.email}</a></li>
{/each}