<script>
    import { base } from '$app/paths';
</script>

<ul class="nav">
    <li><a href="{base}/">Homepage</a></li>
    <li><a href="{base}/about">About</a></li>
    <li><a href="{base}/contacts">Contacts</a></li>
    <li><a href="{base}/blog">Blog</a></li>
</ul>