<script>
    import Canvas from '../components/Canvas.svelte';
    import Nav from '../components/Nav.svelte'
    import '../styles-global.css'
</script>

<div class="canvas">
    <Canvas/>
</div>
<Nav/>

<slot></slot>

<style>
    .canvas{
        position: fixed;
        z-index: -1;
        width: 100vw;
        height: 100%;
        background: green;
    }
</style>