<script>
     import { fade } from 'svelte/transition';
     import gsap from 'gsap';
     function customtransition(node, { speed = 1 }) {
		
          let tl = gsap.timeline();
          let duration = 1000;
          tl.from(node, {
               duration: duration/1000,
               rotate: 90
          })

		return {
			duration,
			tick: t => {
				tl.progress(t);
			}
		};
	}
</script>


<div class="content" transition:customtransition>
<h1>Contacts page</h1>
<p>Lorem ipsum dolor sit amet, consectetur
     adipiscing elit, sed do eiusmod tempor 
     incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud 
     exercitation ullamco laboris nisi ut aliquip 
     ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur 
          sint occaecat cupidatat
          non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</p>
 </div>